<h1 class="page-title"><%= @user.username %></h1>
<h3>Username: <%= @user.username %></h3>
<h3>Email: <%= @user.email %></h3>
<% if !current_user.nil? && @user.id == current_user.id %>
  <%= button_to "Edit #{@user.username}", edit_user_url(@user), method: :get %>
  <%= button_to "Delete #{@user.username}", user_url(@user), method: :delete %>
<% end %>
<%= button_to "Index", users_url, method: :get %>
