<div class="project-image col-md-4">
  <img class="show-image" src="http://<%= project.escape('image_url') %>">
</div>
<div class="project-info col-md-5">
  <h1 class="project-index-title"><%= project.escape('title') %></h1>
  <p class="body-text-alt"><%= project.escape('description') %></p>
</div>
<div class="project-stats col-md-3">
  <h3 class="stat-title">Backers</h3>
  <p class="stat-text"><%= project.escape('numPledges') %> people backing this project</p>
  <h3 class="stat-title">Progress</h3>
  <p class="stat-text"><%= Math.floor(project.escape('amtPledged') / project.escape('goal') * 100) %>% of goal pledged</p>
  <h3 class="stat-title">Timeframe</h3>
  <p class="stat-text">Project ends in <%= project.escape('time_remaining') %></p>
</div>
