<!DOCTYPE html>
<html>
<head>
  <title>LaunchAssist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <% if current_user %>
    <script>
      $(document).ready(function(){
        LaunchAssist.initialize();
      });
    </script>
  <% end %>
</head>
<body>

<%= render partial: 'layouts/header' %>
<%= render partial: 'layouts/errors' %>
<%= yield %>

</body>
</html>
